body{
	font-family: arial,sans-serif;

}

.header-entry{
	display:inline-block;
	font-size: 12px;
}
a{
	
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}
a:hover, a:visited{
	color: #3d3d3d;
    cursor: pointer;
    text-decoration: underline;
}

.he4{
	position:absolute;
	top:2px;
	right:10px;
}
.he3{
	position: absolute;
	top: 2px;
	right: 80px;
}
.he2{
	position: relative;
	left:15px;
}
.he1{
	position: relative;
	left:5px;
}
#logo{

	height:92px;
	width:272px;
	position: absolute;
	left: calc(50% - 272px/2);
	top:30%;
}
#searchbox{
	display: inlineblock;
	top: calc(50%);
	position:relative;
	left:-10%;
	border-radius: 50px;
	border: 1px solid #ccc;
	height: 25px;
	padding-left: 20px;
}
#logo-box{
	background-color: orange;
}
body {
    font-family: 'Roboto', arial, sans-serif;
}
#button-box{
	width: 300px;
}
button{
	position:relative;
	cursor: pointer;
	top:30px;
	color: #5F6368;
	border-style: hidden;
	padding:9px 15px;
}

button:hover{
	border-style: solid;
	border-radius: 5px;
	border: 1px solid lightgrey;
	color: black;
}
input:hover{
	box-shadow: 0 0 5px #878787;
}
#voy{
	left: 30px;
}
#bus{
	left: 10px;
}
footer{
	display:inline-block;
	position:fixed;
	background-color: #f2f2f2;
	position:fixed;
	bottom: 0px;
	left:0px;
	right:0px;
	border-top:	1px solid lightgrey;
	height: 35px;
	padding-top: 10px;
	padding-left:30px;
}
.footer-element{
	position: relative;
	padding-right: 10px;
	font-size:15px;
}