body{
	font-family: arial,sans-serif;

}

.header-entry{
	display:inline-block;
}
a{
	font-size: 12px;
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}
a:hover{
	color: #3d3d3d;
    cursor: pointer;
    text-decoration: underline;
}
.he4{
	position:absolute;
	top:2px;
	right:10px;
}
.he3{
	position: absolute;
	top: 2px;
	right: 80px;
}
.he2{
	position: relative;
	left:15px;
}
.he1{
	position: relative;
	left:5px;
}
#logo{

	height:92px;
	width:272px;
	position: absolute;
	left: calc(50% - 272px/2);
	top:30%;
}
#searchbox{
	display: inline-block;
	top: calc(50%);
	position:relative;
	left:-10%;
	border-radius: 50px;
	border: 1px solid #ccc;
	height: 25px;
	padding-left: 20px;
}
#logo-box{
	background-color: orange;
}
body {
    font-family: 'Roboto', arial, sans-serif;
}
button{
	position:relative;
	cursor: pointer;
	top:30px;
	color: #5F6368;
	border-style: hidden;
	background-color: white;
	height:30px;
}

button:hover{
	border-style: solid;
	border-radius: 4px;
	border: 1px solid lightgrey;
	color: black;
}
input:hover{
	box-shadow: 0 0 5px #878787;
}
#voy{
	left: 30px;
}
#bus{
	left:20px;
}